body{
	padding:0px;
	margin:0px;
}

/*
Container for all search elements
Have to distinguish between this and the transparent box
otherwise the whole thing is completely transparent
*/
#search_container{
	width: 700px;
	height: 42px;
	text-align: center;
	overflow: hidden;

	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	
	margin: auto;
}

/*
#trans_box{
	height: 100%;
	width:  100%;
	background-color: #2f3640;
	opacity: 0.3;
	z-index: 1;
}*/

/* Search input */
#search_bar {

	font-size: 16px;
	color: #2f3640;
	border-width: 0;
	background-color:white;
}


input[type = "text"] {

	width: 60%;
	padding: 11px 0px 8px 1em;
	color: #333;
	outline: none;
}

/*CSS for the enter button */
#enter_button {

	position: absolute;
	height: 42px;
	width: 80px;
	font-size: 16px;
	color: #2f3640;
	text-align: center;
	line-height: 42px;
	border-width: 0;
	margin-bottom: 2px;
	padding-right: 10px;

	-webkit-border-radius: 0px 0px 0px 0px;
	-moz-border-radius: 0px 0px 0px 0px;
	border-radius: 0px 0px 0px 0px;
}

#enter_button:hover {
	background-color: white;
	color: #2f3640;
}


input:focus,select:focus,textarea:focus,button:focus {
	
	outline: none;
}

#brgr_links{
	overflow: hidden;
	position: relative;
	display: none;
}

#brgr_links .icon {
	position: absolute;
	color:black;
	display: block;
	padding: 10px;
}