#mPage {
	width: 584.5px;
	height: 850px;
}

#comicDropdown {
	margin-right:10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#pageOption{
	width: 100px;
}


#comic_container{
	display: block;
}

.comic{
	display: inline-block;
	max-width: 20%;
  	margin-top: 2.5%;
}

.comic img{
	margin-right: 10%;
}
