@import url('https://fonts.googleapis.com/css2?family=Muli:wght@500&display=swap');

#mPage {
	width: 584.5px;
	height: 850px;
}

#comicDropdown {
	margin-right:10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#pageOption{
	width: 100px;
}


#comic_container{
	display: block;
}

.comic{
	display: inline-block;
	max-width: 70%;
  	margin-top: 2.5%;
  	font-family: 'Muli', Arial, Helvetica, san-serif;

}

.comic img{
	margin-right: 20%;
	padding-right:30px;

}

.comic a {
	text-decoration: none;
	color: white;
}

.comic a:visited {
	color: white;
}
